_tests_
.vscode
.eslintrc.json
.eslintignore
.flowconfig
.gitattributes
.git
.npmignore
.prettierrc
.watchmanconfig
.buckconfig
.nvmrc

App.js
bable.config.js
jest.config.json
index.android.js
metro.config.js
jsconfig.json
app.json
bable.config.json
__test__
components/__test__
test.js

android
android/
ios
ios/
src
src/


node_modules
node_modules/
coverage
coverage/

screen
screen/

