_tests_
.vscode
.eslintrc.js
.flowconfig
.gitattributes
.git
.npmignore
.prettierrc.js
.watchmanconfig
.buckconfig
.nvmrc

App.js
bable.config.js
index.android.js
metro.config.js

android
android/
ios
ios/
src
src/

node_modules

